body {

}

h1 {
    color: white;
}

h3 {
    color: #b7a899;
}

p {
    color: white;
    font-family: sans-serif;
}

.container-fluid {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#background-placeholder {
    background-image: url('../Images/backgroundImage.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 740px;
    margin: 0 auto;
    border-bottom: white 1px solid;
}

#black-bg-header {    
   background-color: rgba(0, 0, 0, 0.5);
   height: 100px;
   text-align: center;
   padding: 25px;
}

#navigation-placeholder ul li {
    display: inline-block;
    padding: 20px;
    font-weight: 600;
}

.nav-links a:link {
    font-family: sans-serif;
    color: white;
    font-size: 14px;
}

#logo {
    position: relative;
    top: 65px;
    text-align: center;
}

#about-placeholder {
    background-color: #23232f;
}

#about-section-left {
    text-align: center;
    position: relative;
    left: -50px;
}

#picture-self {
    position: relative;
    top: 15px;
}

.about-text {
    font-size: 16px;
    margin-top: 35px;
}





