html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1 {
    color: #353535;
}

h3 {
    color: #c5a87e;
}

p {
    color: white;
    font-family: sans-serif;
}

#red-block {
    height: 25px;
    background-color: #D41740;
}

.red-block-text {
    color: #ffffff;
    font-weight: 600;
    vertical-align: middle;   
}

.social-media-right {
    float: right;
}

#max-wid {
    width: 25px;
}

.container-fluid {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#background-placeholder {
    margin: 0 auto;
    border-bottom: white 2px solid;
    background-color: #23232f;
    position: relative;
}

.bg-image {
}

#black-bg-header {    
   background-color: rgba(0, 0, 0, 0.5);
   height: 75px;
   text-align: center;
   padding: 20px;
   position: absolute;
   top: 0px;
   width: 100%;
}

#navigation-placeholder ul li {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
}

.nav-links a:link {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 14px;
}

.nav-links a:hover {
    color: #D41740;
    text-decoration: none;
}

#logo-placeholder {
    text-align: center;
    position: absolute;
    top: 250px;
    min-height: 400px;
}

#logo {
    
}

#strapline {
    position:absolute;
    top: 450px;
    text-align: center;
}

#strapline h3 {
    color: #ffffff;
    font-weight: 700;
}
#about-placeholder {
    background-color: #e0e0e0;
    border-bottom: 2px solid white;
    box-shadow: 10px black;
}

#about-section-left {
    text-align: center;
    position: relative;
    left: -50px;
}

#about-section-left h1 {
    font-weight: 600;
}

#picture-self {
    position: relative;
    top: 15px;
}

.about-text {
    font-size: 16px;
    margin-top: 35px;
    color: #353535;
}


#pricing-table {
    background-color: #23232f;
    text-align: center;
    margin: 0 auto;
}

#pricing-table h2 {
    color: #666666;
    text-transform: uppercase;
}

.pricing-box-wrapper {
    height: 500px;
    background-color: yellow;
    margin: 0 auto;
    padding: 10px;
}

.price-box {
    height: 500px;
    background-color: #23232f;
    border: 2px solid #666666;
    margin: 5px 0 5px 0;
}

.price-box h3 {
    color: #ffffff;
    font-weight: 300;
}

#black-background {
    background-color: #23232f;
}

.pound-sterling {
    font-size: 25px;
    vertical-align: top;
}

.cost {
    font-size:60px;
    vertical-align: middle;
}

.mo-text {
    font-size: 30px;
    vertical-align: bottom;
}

.hours-text {
    color: #a0a0a0;
    font-size: 20px;
}